parameters:
    level: 9
    paths:
        - %currentWorkingDirectory%/src
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Unsafe usage of new static\(\).#'
