parameters:
    level: 9
    paths:
        - %currentWorkingDirectory%/src
    scanDirectories:
        - %currentWorkingDirectory%/vendor/swoole/ide-helper/src
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Unsafe usage of new static\(\).#'
