<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         colors="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnPhpunitDeprecations="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
>
    <source restrictDeprecations="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <coverage includeUncoveredFiles="true"
              pathCoverage="false"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="true">
    </coverage>
  <testsuites>
    <testsuite name="integration">
      <directory>./tests/integration</directory>
    </testsuite>
    <testsuite name="unit">
      <directory>./tests/unit</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="LDAP_SERVER" value="localhost"/>
    <env name="LDAP_USERNAME" value="cn=admin,dc=example,dc=com"/>
    <env name="LDAP_PASSWORD" value="P@ssword12345"/>
    <env name="LDAP_BASE_DN" value="ou=FreeDSx-Test,dc=example,dc=com"/>
    <env name="LDAP_PORT" value="389"/>
    <env name="LDAP_CA_CERT" value=""/>
  </php>
</phpunit>
